.App {
  text-align: center;
}

* {
  background-color: #e7c3ff;
}

.spotify-play {
  margin-top: 25vh;
  padding: 10px;
  border: 10px;
}

.cat {
  width: 8vh;
  height: auto;
}

.landing-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: auto;
  }

.drip {
  background-color: #bbb6b6;
  width: 35.5vh;
  height: 43vh
}

.helpm.btn-spotify {
  padding: 0;
  border: 0px;
  margin: 0;
}

.now-playing__cover {
  display: flex;
  justify-content: space-evenly;
}

.helpme {
  background-color: #bbb6b6;
  color: black;
  margin: 0;
}

.App-header {
  /* background-color: #e1c4ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 3vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
